.App {
    text-align: center;
}

input[type='button'] {
    margin: 20px 0;
    background-color: cadetblue;
    border: none;
    height: 30px;
    width: 200px;
    font-family: inherit;
}

input[type='button']:hover {
    cursor: pointer;
}